includes:
	- %currentWorkingDirectory%/tests/php/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Parameter \#1 \$share of static method ShopCore\:\:getContextListShopID\(\) expects string, false given.#'
    - '#Parameter \#1 \$share of static method ShopCore\:\:addSqlRestriction\(\) expects int, false given.#'